In [5]:
# Variables and Data Types
x = 10                  # Integer
y = 3.14                # Float
name = "Alice"          # String
is_student = True       # Boolean

print(x, y, name, is_student)

10 3.14 Alice True

In [6]:
# Basic Operations
a = 5
b = 3

# Arithmetic operations
sum_ab = a + b
diff_ab = a - b
prod_ab = a * b
quot_ab = a / b
floor_div_ab = a // b
mod_ab = a % b
exp_ab = a ** b

print("Sum:", sum_ab)
print("Difference:", diff_ab)
print("Product:", prod_ab)
print("Quotient:", quot_ab)
print("Floor Division:", floor_div_ab)
print("Modulo:", mod_ab)
print("Exponentiation:", exp_ab)

Sum: 8
Difference: 2
Product: 15
Quotient: 1.6666666666666667
Floor Division: 1
Modulo: 2
Exponentiation: 125

In [7]:
# Control Flow

# if-else statement
age = 20
if age < 18:
    print("Minor")
else:
    print("Adult")

# for loop
for i in range(5):
    print(i)

# while loop
count = 0
while count < 5:
    print(count)
    count += 1

Adult
0
1
2
3
4
0
1
2
3
4

In Python, data structures are essential for organizing and storing data efficiently. Hereâ€™s an overview of the most commonly used data structures:

**Lists:**

Description: Ordered, mutable collections of items. Lists can contain elements of different types and allow duplicate values.

In [10]:
# Lists
fruits = ["apple", "banana", "cherry"]

# Accessing elements
print(fruits[0])

# Modifying elements
fruits[1] = "blueberry"
print(fruits)

# List operations
fruits.append("orange")
print(fruits)
fruits.remove("cherry")
print(fruits)

apple
['apple', 'blueberry', 'cherry']
['apple', 'blueberry', 'cherry', 'orange']
['apple', 'blueberry', 'orange']

In [11]:
# Extending the list with another list
more_fruits = ["mango", "grape"]
fruits.extend(more_fruits)
print(fruits)

# Inserting an element at a specific position
fruits.insert(1, "orange")
print(fruits)

# Removing an element by value
fruits.remove("orange")
print(fruits)

['apple', 'blueberry', 'orange', 'mango', 'grape']
['apple', 'orange', 'blueberry', 'orange', 'mango', 'grape']
['apple', 'blueberry', 'orange', 'mango', 'grape']

In [12]:
# Removing an element by index and getting the removed element
removed_fruit = fruits.pop(1)
print(removed_fruit)
print(fruits)

# Finding the index of an element
index_of_orange = fruits.index("orange")
print(index_of_orange)

blueberry
['apple', 'orange', 'mango', 'grape']
1

In [13]:
# Counting occurrences of an element
count_of_mango = fruits.count("mango")
print(count_of_mango)

# Reversing the list
fruits.reverse()
print(fruits)

fruits.append("banana")

fruits.sort()
print(fruits)

# Copying a list
fruits_copy = fruits.copy()
print(fruits_copy)

# Clearing all elements from the list
fruits.clear()
print(fruits)

1
['grape', 'mango', 'orange', 'apple']
['apple', 'banana', 'grape', 'mango', 'orange']
['apple', 'banana', 'grape', 'mango', 'orange']
[]

**Tuples:**

Description: Ordered, immutable collections of items. Once created, the elements in a tuple cannot be modified.

In [14]:
# Creating a tuple
person = ("Alice", 30, "Engineer")

# Accessing elements
print(person[0])

Alice

In [15]:
# Slicing a tuple
slice_of_person = person[1:3]
print(slice_of_person)

(30, 'Engineer')

In [16]:
# Concatenating tuples
another_person = ("Bob", 25, "Artist")
combined = person + another_person
print(combined)

('Alice', 30, 'Engineer', 'Bob', 25, 'Artist')

In [17]:
# Finding the index of an element
index_of_engineer = person.index("Engineer")
print(index_of_engineer)

2

In [18]:
# Converting a tuple to a list
person_list = list(person)
print(person_list)

['Alice', 30, 'Engineer']

In [19]:
nested_tuple = (("Alice", 30), ("Bob", 25))
print(nested_tuple)
print(nested_tuple[0])
print(nested_tuple[0][1])

(('Alice', 30), ('Bob', 25))
('Alice', 30)
30

**Dictionaries:**

Description: Unordered collections of key-value pairs. Each key must be unique, and values can be of any data type.

In [21]:
# Creating a dictionary
student = {"name": "Alice", "age": 20, "major": "Computer Science"}

# Accessing values
print(student["major"])

Computer Science

In [22]:
# Adding or updating values
student["year"] = "Pre-final"
print(student)

{'name': 'Alice', 'age': 20, 'major': 'Computer Science', 'year': 'Pre-final'}

In [23]:
# Removing values
del student["age"]
print(student)

{'name': 'Alice', 'major': 'Computer Science', 'year': 'Pre-final'}

In [24]:
# Getting all keys
keys = student.keys()
print(keys)

# Getting all values
values = student.values()
print(values)

dict_keys(['name', 'major', 'year'])
dict_values(['Alice', 'Computer Science', 'Pre-final'])

In [28]:
# Iterating over dictionary
for key, value in student.items():
    print(f"{key}: {value}")

name: Alice
major: Computer Science
year: Pre-final

In [30]:
# Updating dictionary with another dictionary
update_info = {"age": 19, "graduation_year": 2026}
student.update(update_info)
print(student)

{'name': 'Alice', 'major': 'Computer Science', 'year': 'Pre-final', 'age': 19, 'graduation_year': 2026}

In [31]:
# Popping an item (key-value pair)
popped_item = student.popitem()
print(popped_item)
print(student)

('graduation_year', 2026)
{'name': 'Alice', 'major': 'Computer Science', 'year': 'Pre-final', 'age': 19}

**Sets:**

Description: Unordered collections of unique elements. Sets do not allow duplicate values and do not maintain any particular order.

In [37]:
# Creating a set
numbers = {1, 2, 3, 4, 5}

# Adding elements
numbers.add(6)
print(numbers)

# Removing elements
numbers.remove(2)
print(numbers)

{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}

In [38]:
# doesn't raise an error if the element is not found
numbers.discard(10)
print(numbers)

{1, 3, 4, 5, 6}

In [39]:
# Removing an element with pop (removes and returns an arbitrary element)
removed_element = numbers.pop()
print(removed_element)
print(numbers)

1
{3, 4, 5, 6}

In [40]:
# Checking membership
print(3 in numbers)
print(2 in numbers)

True
False

In [41]:
# Union of two sets (combines elements from both sets)
other_numbers = {4, 5, 6, 7, 8}
union_set = numbers.union(other_numbers)
print(union_set)

# Intersection of two sets (common elements in both sets)
intersection_set = numbers.intersection(other_numbers)
print(intersection_set)

{3, 4, 5, 6, 7, 8}
{4, 5, 6}

In [42]:
# Difference of two sets (elements in the first set but not in the second)
difference_set = numbers.difference(other_numbers)
print(difference_set)

{3}

In [43]:
# Clearing all elements from the set
numbers.clear()
print(numbers)

set()

In [44]:
# Copying a set
copied_set = other_numbers.copy()
print(copied_set)

{4, 5, 6, 7, 8}